body {
    overflow-x: hidden;
  }
  #identifier1{
    width: 370px;
  }
#enum{
  width: 500px;
}
#reserved{
  width: 500px;
}
#primitivedatatype{
  width: 800px;
}
#reservedliterals{
  width: 500px;
}
#floating{
  width: 650px;
}
.textArea{
  border-left: 4px solid #6b5;
  box-shadow: 6px 3px 8px #d4d4d4;
  resize: none;
}
#literals{
  width: 400px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  text-align: center;
  
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.result{
  background-color: black;
  width:200px;
  color: white;
  margin-left: 50px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
.output {
   color: red;
   font: bold;
}
  .next1{
    font-size:21px;
    float: right; 
    color: crimson;

  }
.nextpervious{
   float: right;
}
  .pervious1{
    color: crimson; 
  }
#integralLitrals{
  width: 480px;
  margin-left: 100px;
}
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }


  span.italic {
    font-style: italic;
  }

  p.improves{
    padding-left: 50px;
  }

  ol.NoteAbstraction{

    padding-left: 70px;
  }

  b.EncapsulationDataHiding{
    padding-left: 150px;
  }

  p.pEncapsulation{
    padding-left: 150px;
  }
  p.OverLoading{
     padding-left: 100px;
  }

  .InstanceControlFlow1{width: 500px;}